{% extends "base.html" %}
{% load humanize %}
{% load comments %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}
<div id="content">
    <h4>{{ object.title }}</h4>
    <div class="info">
        Posted {{ object.posted|naturalday }} by {{ object.creator }}
        filed under <a href="{{ object.category.get_absolute_url }}">{{ object.category.name }}</a>
    </div>

    <div class="block bordered">
        <div class="entryblock">
        {% autoescape off %}
            {{ object.content }}
        {% endautoescape %}
        </div>

        <div style="clear:both"></div>
    </div>
    <div>
        <div class="text back">
            <a href="{% url djblog.views.blog.list %}">Back</a>
        </div>
    </div>

    <div id="comments">
    {% get_comment_list for object as comments %}

    {% for comment in comments %}
        <div class="comment block">
        {{ comment.submit_date }}
        {{ comment.user_name }}
        {{ comment.user_url }}
        {{ comment.comment }}
        </div>
    {% endfor %}

    {% get_comment_form for object as form %}
    {% include "comments/djblog_entry_form.html" %}
    </div>

    <div>
        <div class="text back">
            <a href="{% url djblog.views.blog.list %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}