{% extends "base.html" %}
{% load humanize %}
{% load comments %}

{% block content %}
<div id="content">
     {% for entry in entries.object_list %}
     <div class="block bordered">
         <h4><a href='{{ entry.get_absolute_url }}'>{{ entry.title }}</a></h4>
         <div class="info">
            Posted {{ entry.posted|naturalday }}
            by {{ entry.creator }} filed under
            <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a>
         </div>

         <div class="entryblock">
         {% autoescape off %}
            {{ entry.content|truncatewords:25 }}
         {% endautoescape %}
         </div>

         <div class="text">
             <a href='{{ entry.get_absolute_url }}'>More...</a>&nbsp;|&nbsp;
             {% get_comment_count for entry as comment_count %}
             <a href="{{ entry.get_absolute_url }}#comments">Comments ({{ comment_count }})</a>
        </div>
     </div>
     {% endfor %}
</div>
{% endblock %}