{% extends "base.html" %}
{% load humanize %}
{% load comments %}
{% load prevnext %}
{% load markup %}

{% block title %} {{ entry.title }} {% endblock %}

{% block content %}

<div id="content">
    <div id="prevnext">
        {% get_next_prev_entry %}

        {% if prev_entry %}
        <div id="prev">&laquo;&nbsp;<a href="{{ prev_entry.get_absolute_url }}">{{ prev_entry.title }}</a></div>
        {% endif %}

        {% if next_entry %}
        <div id="next"><a href="{{ next_entry.get_absolute_url }}">{{ next_entry.title }}</a>&nbsp;&raquo;</div>
        {% endif %}
        
        <div style="clear:both"></div>
    </div>

    <div class="block">
        <h2 id="title">{{ entry.title }}</h2>
        <div class="info border-bottom">
            Posted {{ entry.posted|naturalday }} by {{ entry.creator }}
            filed under <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a>
        </div>

        <div class="entry">
            {% autoescape off %}
                {{ entry.content|markdown:"codehilite" }}
            {% endautoescape %}

            <div style="clear:both"></div>
        </div>

        <div class="text back">
            &laquo; <a href="{% url djblog-entry-list %}">Back</a>
        </div>
    </div>

    <div id="comments">
    <h2 id="title" class="border-bottom">Comments</h2>
    {% get_comment_list for entry as comments %}

    <ol class="comment block">
    {% for comment in comments %}
    <li>
        <a href="{{ comment.user_url }}">{{ comment.user_name }}</a> said:
        <div class="info" style="margin-bottom:1em;">{{ comment.submit_date|date:"l, F dS Y" }}</div>
         
        <div class="border-bottom">{{ comment.comment }}</div>
    </li>    
    {% endfor %}
    </ol>
    
    {% get_comment_form for entry as form %}
    {% include "comments/djblog_entry_form.html" %}
    </div>
    
    <div class="text back">
        &laquo; <a href="{% url djblog-entry-list %}">Back</a>
    </div>
</div>
{% endblock %}