{% extends "base.html" %}
{% load humanize %}
{% load comments %}
{% load prevnext %} 

{% block title %} {{ entry.title }} {% endblock %}

{% block content %}

<div id="content">
    <div id="prevnext">
        {% get_next_prev_entry %}

        <div id="prev"><a href="{{ prev_entry.get_absolute_url }}">{{ prev_entry.title }}</a></div>
        <div id="next"><a href="{{ next_entry.get_absolute_url }}">{{ next_entry.title }}</a></div> 
    </div>
    
    <h4>{{ entry.title }}</h4>
    <div class="info">
        Posted {{ entry.posted|naturalday }} by {{ entry.creator }}
        filed under <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a>
    </div>
    
    <div class="block bordered">
        <div class="entryblock">
        {% autoescape off %}
            {{ entry.content }}
        {% endautoescape %}
        </div>

        <div style="clear:both"></div>
    </div>
    
    <div>
        <div class="text back">
            <a href="{% url djblog-blog-list %}">Back</a>
        </div>
    </div>
    
    <div id="comments">
    {% get_comment_list for entry as comments %}

    {% for comment in comments %}
        <div class="comment block">
        {{ comment.submit_date }}
        {{ comment.user_name }}
        {{ comment.user_url }}
        {{ comment.comment }}
        </div>
    {% endfor %}

    {% get_comment_form for entry as form %}
    {% include "comments/djblog_entry_form.html" %}
    </div>
    
    <div>
        <div class="text back">
            <a href="{% url djblog-blog-list %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}