{% extends "base.html" %}
{% load humanize %}
{% load comment %}
{% block title %} {{ entry.title }} {% endblock %}

{% block content %}
<div id="content">
    <h4>{{ entry.title }}</h4>
    <div class="info">
        Posted {{ entry.posted|naturalday }} by {{ entry.creator }}
        filed under <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a>
    </div>

    <div class="block bordered">
        <div class="entryblock">
        {% autoescape off %}
            {{ entry.content }}
        {% endautoescape %}
        </div>

        <div style="clear:both"></div>
    </div>
    <div>
        <div class="text back">
            <a href="/">Back</a>
        </div>
    </div>

    <div id="comments">

        {% render_comment_form %}
        <form method="post" action="{% comment_form_target %}">
            <table>
            {{ commentform.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Send Comment" /></td>
            </tr>
            </table>
        </form>
    </div>

    <div>
        <div class="text back">
            <a href="/">Back</a>
        </div>
    </div>
</div>
{% endblock %}
